# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore executables
hector
hector_cli
hector_test
hector_importer

# Ignore autoconf output
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
Makefile
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda


